<%- include('partials/header'); -%>

<form action="/userReg">
  <h2>User Details</h2>

  <label for="firstname">First Name</label>
  <input type="text" name="firstname" required maxlength="20" pattern="^[A-Z][a-z]*[a-z]$" />
  <div class="firstname error"></div>


  <label for="lastname">Last Name</label>
  <input type="text" name="lastname" required maxlength="20" pattern="^[A-Z][a-z]*[a-z]$" />
  <div class="lastname error"></div>



  <label for="contact">Contact NO</label>
  <input type="contact" name="contact" required pattern="[0-9]{10}" />
  <div class="contact error"></div>

  <label for="address">Address</label>
  <input type="address" name="address" required maxlength="100"/>
  <div class="contact error"></div>

  <label for="area">Area</label>
  <input type="area" name="area" required maxlength="20" pattern="^[A-Z][a-z]*[a-z]$"/>
  <div class="area error"></div>

  <label for="tanks">No of Tanks</label>
  <input type="tanks" name="tanks" required maxlength="3"/>
  <div class="tanks error"></div>
 
  <button>Register User</button>
</form>

<%- include('partials/footer'); -%>

<script>
  const form = document.querySelector('form');
  

  form.addEventListener('submit', async (e) => {
    e.preventDefault();

    // reset errors
    

    // get values
    const firstname = form.firstname.value;
    const lastname = form.lastname.value;
    const contact = form.contact.value;
    const address = form.address.value;
    const area = form.area.value;
    const tanks = form.tanks.value;
    
  

    try 
    {
      const res = await fetch('/userReg', { 
        method: 'POST', 
        body: JSON.stringify({ firstname, lastname, contact, address, area, tanks }),
        headers: {'Content-Type': 'application/json'}
      });

      const data = await res.json();
      console.log(data);

      if (data.errors) 
      {
        emailError.textContent = data.errors.email;
        passwordError.textContent = data.errors.password;
      }
      if (data.user) 
      {
        location.assign('/');
      }

    }
    catch (err) 
    {
      console.log(err);
    }

  });
</script>