<%- include('partials/header'); -%>

<header>
  
  <div class="image">
    <img src="/tank.png" alt="">
  </div>
  <div class="headings">
    <h1>Super Admin View</h1>
    
    <a href="/adminSignup" class="btn">Register an Administrative User</a>
  </div>
</header>


<%- include('partials/footer'); -%>