<%- include('partials/header'); -%>

<header>

    <h2>Please confirm your account. A confirmation email is sent to your email account. Login after confirmation</h2>
      
</header>


<%- include('partials/footer'); -%>